<div class="tableview tablepane">
	<table class="data fullwidth">
		<thead>
			<tr>
				<th>Index</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if indices | length == 0 %}
				<tr>
					<td class="centeralign" colspan="2" style="background: #fff !important; padding: 20px 0 10px;">
						No indices currently exist. Configure one within <code>config/cargo.php</code>
					</td>
				</tr>
			{% endif %}
			{% for index in indices %}
				<tr>
					<td width="70%"><strong>{{ index }}</strong></td>
					<td width="30%">
						<div style="display: flex; gap: 12px;">
							<a href="{{ actionUrl('cargo/index/update', { indexName: index }) }}" class="btn">
								Update
							</a>
							<a href="{{ actionUrl('cargo/index/update', { indexName: index, refresh: true }) }}" class="btn submit">
								Refresh
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
